body {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: white;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: black;
  border-left: 1px solid black;
  padding: 10px;
  height: 80px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid rgb(107, 107, 107);
}

.saveBtn {
  border-left: 4px solid rgb(0, 84, 109);
  border-radius: 0 10px 10px 0;
  background-color: #029eb0;
  color: white;
  width: 80px;
}

.saveBtn:hover {
  font-size: 30px;
  color: mediumturquoise;
}

.description{
  padding: 20px;
  width: 600px;
  white-space: pre-wrap;
  border-width: 3px;
  border-width: 0 0 5px 0;
  border-color: rgb(255, 255, 255);
  /* background-color: olive; This overrides the momen.js */
}

.time-block{
  text-align: right;
  border-radius: 15px;
  margin-top: 2px;

}

.row {
  width: 780px;
  border-top: 2px solid white;
  height: 80px;
}

.hour {
  width: 100px;
  background-color: rgb(255, 255, 255);
  color: #605f5f;
  border-top: 1px dashed #000000;
  padding: 15px;

}

.past {
  background-color: #cecece;
  color: rgb(214, 202, 202);
}

.present {
  background-color: #ff0d00ec;
  color: rgb(255, 255, 255);  /* not sure why the type isn't white on present */
}

.future {
  background-color: #05dc49;
  color: rgb(212, 211, 211);
}

